{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Spartan Robotics Check-In{% endblock %}</h1>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
          </tr>
        </thead>
        <tbody>  
        {% for member in members %}
            <tr>
                <td>
                    {% if member['status'] == 1 %}
                        <button type="button" class="btn btn-success">In</button>
                    {% else %}
                        <button type="button" class="btn btn-danger">Out</button>
                    {% endif %}
                </td>
                <td>{{ member['last_name'] }}</td>
                <td>{{ member['first_name'] }}</td>
                <td>{{ member['email'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
