{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    {% for member in members %}
        <a href="{{ url_for('member', member_id=member['id']) }}">
            <h2>{{ member['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ member['created'] }}</span>
        <a href="{{ url_for('edit', id=member['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
